{namespace mhdev=Tx_MhDirectory_ViewHelpers}

<f:layout name="frontend" />

<f:section name="content">

<f:if condition="{mhdev:Type(entry:result, key: 'detail')}">
	<f:if condition="{result}">
		<f:then>

			<f:if condition="{settings.breadcrumb}=='1'">
				<f:render partial="Breadcrumb" arguments="{result:breadcrumb}"/>
			</f:if>

			<div class="detail_entry entry_{result.uid} type_{result.relationType.uid}">
				<h2>{result.company}</h2>
				
				<f:if condition="{mhdev:Type(entry:result, key: 'image')}">
					<f:if condition="{result.image}">
						<div class="inner_image"><f:image src="uploads/tx_mhdirectory/{result.image}" alt="{result.company}" /></div>
					</f:if>
				</f:if>

				<div class="inner">
					<f:if condition="{mhdev:Type(entry:result, key: 'address')}">
						<p class="address">
							{result.forename} {result.middlename} {result.lastname} <br />
							{result.address} <br />
							{result.zip} {result.city}
						</p>
					</f:if>

					<f:if condition="{mhdev:Type(entry:result, key: 'description')}"><div class="description"><f:format.html>{result.description}</f:format.html></div></f:if>

					<f:if condition="{mhdev:Type(entry:result, key: 'contact')}">
						<p class="contact">
							<f:if condition="{result.phone}"><f:translate key="list_row_phone" /> <a href="tel:{result.phone}">{result.phone}</a><br /></f:if>
							<f:if condition="{result.mobile}"><f:translate key="list_row_mobile" /> <a href="tel:{result.mobile}">{result.mobile}</a><br /></f:if>
							<f:if condition="{result.fax}"><f:translate key="list_row_fax" /> <a href="tel:{result.fax}">{result.fax}</a><br /></f:if>
						</p>
					</f:if>

				</div>

				<f:if condition="{settings.googlemaps}=='1'">
					<f:render partial="Map" arguments="{result:result, zoom: settings.googlemaps_zoom_detail}"/>
				</f:if>

				<br class="clear" />
				<br /><br />
				<f:render partial="Buttons" arguments="{result:result,detail:1}" />
			</div>
		</f:then>
		<f:else>
			<f:translate key="list_empty" />
		</f:else>
	</f:if>
</f:if>
</f:section>