{namespace mhdev=Tx_MhDirectory_ViewHelpers}
<f:if condition="{result}">
	<f:then>
		<f:widget.paginate objects="{result}" as="paginatedResults" configuration="{itemsPerPage: settings.itemsPerPage, insertAbove: settings.paginateAbove, insertBelow: settings.paginateBelow}">
			<f:for each="{paginatedResults}" as="row">
				<div class="entry entry_{row.uid} type_{row.relationType.uid}">
					<f:if condition="{mhdev:Type(entry:row, key: 'image')}">
						<f:if condition="{row.image}">
							<div class="inner_image"><f:image src="uploads/tx_mhdirectory/{row.image}" alt="{row.company}" /></div>
						</f:if>
					</f:if>	

					<div class="inner">
						<h2>
							{row.company} 

							<f:if condition="{mhdev:Type(entry:row, key: 'opening')}">
								<f:if condition="{settings.entry_opening_show_status}==1">
									<mhdev:opening value="{row.opening}" opencheck="1" settings="{settings}" />
								</f:if>
							</f:if>
						</h2>

						<f:if condition="{mhdev:Type(entry:row, key: 'address')}">
							<p class="address">
								{row.forename} {row.middlename} {row.lastname} <br />
								{row.address} <br />
								{row.zip} {row.city}
							</p>
						</f:if>

						<f:if condition="{mhdev:Type(entry:row, key: 'description')}">
							<div class="description">
								<f:format.crop maxCharacters="{settings.entry_description_crop}">
									<f:format.html>{row.description}</f:format.html>
								</f:format.crop>
							</div>
						</f:if>

						<f:if condition="{mhdev:Type(entry:row, key: 'contact')}">
							<p class="contact">
								<f:if condition="{row.phone}"><f:translate key="list_row_phone" /> <a href="tel:{row.phone}">{row.phone}</a><br /></f:if>
								<f:if condition="{row.mobile}"><f:translate key="list_row_mobile" /> <a href="tel:{row.mobile}">{row.mobile}</a><br /></f:if>
								<f:if condition="{row.fax}"><f:translate key="list_row_fax" /> <a href="tel:{row.fax}">{row.fax}</a><br /></f:if>
							</p>
						</f:if>
					</div>

					
					<f:if condition="{settings.googlemaps}=='1'">
						<f:render partial="Map" arguments="{result: row, zoom: settings.googlemaps_zoom_list_entry}"/>
					</f:if>

					<br class="clear" />

					<f:render partial="Buttons" arguments="{result:row, request:request}" />
				</div>
			</f:for>
		</f:widget.paginate>
	</f:then>
	<f:else>
		<p><f:translate key="list_empty" /></p>
	</f:else>
</f:if>