<f:if condition="{result}">
	<f:then>
		<f:for each="{result}" as="row">
		<div class="entry entry_{row.uid}">
			<f:if condition="{row.image}">
				<div class="inner_image"><f:image src="uploads/tx_mhdirectory/{row.image}" alt="{row.company}" /></div>
			</f:if>		

			<div class="inner">
				<h2>{row.company}</h2>

				<p>
					{row.forename} {row.middlename} {row.lastname} <br />
					{row.address} <br />
					{row.zip} {row.city}
				</p>

				<div class="description"><f:format.crop maxCharacters="100">{row.description}</f:format.crop></div>

				<p>
					<f:if condition="{row.phone}"><f:translate key="list_row_phone" /> <a href="tel:{row.phone}">{row.phone}</a><br /></f:if>
					<f:if condition="{row.fax}"><f:translate key="list_row_fax" /> <a href="fax:{row.fax}">{row.fax}</a><br /></f:if>
				</p>

				
			</div>

			
			<f:if condition="{settings.googlemaps}=='1'">
				<div class="inner_map">
					<f:render partial="Map" arguments="{lat: row.mapLat, lng: row.mapLng, zoom: settings.googlemaps_zoom_list_entry, uid: row.uid}"/>
				</div>
			</f:if>

			<br class="clear" />

			<f:render partial="Buttons" arguments="{result:row}" />
			
		</div>
		</f:for>
	</f:then>
	<f:else>
		<f:translate key="list_empty" />
	</f:else>
</f:if>