div.tx_mhdirectory br.clear {
	clear: both;
}
div.tx_mhdirectory span.error {
	display: block;
	font-size: 12px;
	color: red;
	padding: 5px;
}

div.mh_directory_gmap {
	min-height: 250px;
}


/* LIST 3-Steps */
div.tx_mhdirectory ul.tx_mhdirectory_list_ul {
	list-style-type: none;
}
	div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li {
		margin: 5px;
		border-bottom:1px solid #ddd;
	}
			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li h3 {
				display: inline-block;
				font-size: 17px;
				padding: 5px 10px;
				margin: 0px;
			}		

			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li > img {
				float:right;
				padding: 10px;
			}

			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li p.description {
				padding: 5px 10px;
			}	



/* LIST ENTRIES */
div.tx_mhdirectory > div.entry {
	position: relative;
	border: 1px solid #ddd;
}


	div.tx_mhdirectory > div.entry h2 {
		margin: 0px;
		padding: 5px 0px;
	}
	div.tx_mhdirectory > div.entry > div.inner_image,
	div.tx_mhdirectory > div.detail_entry > div.inner_image {
		float: left;
		width: 15%;
		padding: 10px;
	}
	
	div.tx_mhdirectory > div.entry > div.inner,
	div.tx_mhdirectory > div.detail_entry > div.inner {
		width: 45%;
		float: left;
		padding: 5px;
	}

	div.tx_mhdirectory > div.entry > div.inner_map, 
	div.tx_mhdirectory > div.detail_entry > div.inner_map {
		float: right;
		width: 40%;
		border-left: 2px solid #ddd;
		border-bottom: 2px solid #ddd;
		border-radius: 5px;
	}

		div.inner_map > div.mh_directory_gmap {
			min-height: 200px;
		}

		div.tx_mhdirectory ul.buttons {
			margin:0px; 
			padding:0px;
			list-style-type: none;
			padding: 10px;
		}
			div.tx_mhdirectory ul.buttons > li {
				padding: 5px;
				margin: 3px 5px;
				background-color: #f5f5f5;
				border:1px solid #ddd;
				border-radius: 3px;
				font-size: 12px;
				cursor: pointer;
				width: 80px;
				text-align: center;
				display: inline;
			}

			div.tx_mhdirectory ul.buttons > li:hover {
				background-color:#ddd;
			}


	div.tx_mhdirectory dl.contact_form > dt {
		clear: left;
		float:left;
		width: 130px;
		padding: 5px;
	}

	div.tx_mhdirectory dl.contact_form > dd {
		padding: 5px;
	}

