div.tx_mhdirectory br.clear {
	clear: both;
}
div.tx_mhdirectory span.error {
	display: block;
	font-size: 12px;
	color: red;
	padding: 5px;
}


/* LIST 3-Steps */
div.tx_mhdirectory ul.tx_mhdirectory_list_ul {
	list-style-type: none;
}
	div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li {
		margin: 5px;
		border-bottom:1px solid #ddd;
	}
			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li h3 {
				display: inline-block;
				font-size: 17px;
				padding: 5px 10px;
				margin: 0px;
			}		

			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li > img {
				float:right;
				padding: 10px;
			}

			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li p.description {
				padding: 5px 10px;
			}	



/* LIST ENTRIES */
div.tx_mhdirectory > div.entry {
	position: relative;
	border: 1px solid #ddd;
}
	div.tx_mhdirectory p.detailp {
		margin: 10px;
		text-align: right;
	}

	div.tx_mhdirectory a.detail_link:link,
	div.tx_mhdirectory a.detail_link:active,
	div.tx_mhdirectory a.detail_link:visited {
		background-color: #f5f5f5;
		border:1px solid #ddd;
		padding: 5px 10px;
		border-radius: 3px;
	}

	div.tx_mhdirectory > div.entry h2 {
		margin: 0px;
		padding: 5px 0px;
	}
	div.tx_mhdirectory > div.entry > img {
		float: left;
		width: 150px;
		height: 150px;
		padding: 10px;
	}
	
	div.tx_mhdirectory > div.entry > div.inner {
		float: left;
		padding: 5px;
	}

		div.tx_mhdirectory > div.entry > div.inner > dl {

		}

		div.tx_mhdirectory > div.entry > div.inner > dl > dt {
			clear: left;
			float:left;
			width: 130px;
			border-bottom:1px solid #ddd;
			padding: 5px;
		}

		div.tx_mhdirectory > div.entry > div.inner > dl > dd {
			/*float: left;*/
			padding: 5px;
			border-bottom:1px solid #ddd;
		}

		div.tx_mhdirectory ul.buttons {
			float: right;
			list-style-type: none;
			padding: 10px;
		}
			div.tx_mhdirectory ul.buttons > li {
				padding: 5px;
				margin: 3px 5px;
				background-color: #f5f5f5;
				border:1px solid #ddd;
				border-radius: 3px;
				font-size: 12px;
				cursor: pointer;
				width: 80px;
				text-align: center;
				display: inline;
			}

			div.tx_mhdirectory ul.buttons > li:hover {
				background-color:#ddd;
			}


	div.tx_mhdirectory dl.contact_form > dt {
		clear: left;
		float:left;
		width: 130px;
		padding: 5px;
	}

	div.tx_mhdirectory dl.contact_form > dd {
		padding: 5px;
	}
