div.tx_mhdirectory br.clear {
	clear: both;
}
div.tx_mhdirectory span.error {
	display: block;
	font-size: 12px;
	color: red;
	padding: 5px;
}

div.mh_directory_gmap {
	min-height: 250px;
}


/* LIST 3-Steps */
div.tx_mhdirectory ul.tx_mhdirectory_list_ul {
	list-style-type: none;
}
	div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li {
		margin: 5px;
		border-bottom:1px solid #ddd;
	}
			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li h3 {
				display: inline-block;
				font-size: 17px;
				padding: 5px 10px;
				margin: 0px;
			}		

			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li > img {
				float:right;
				padding: 10px;
			}

			div.tx_mhdirectory ul.tx_mhdirectory_list_ul > li p.description {
				padding: 5px 10px;
			}	



/* LIST ENTRIES */
div.tx_mhdirectory > div.letter_entries > div.entry, 
div.tx_mhdirectory > div.entry {
	position: relative;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

div.tx_mhdirectory > div.letter_entries > div.entry.type_2,  
div.tx_mhdirectory > div.entry.type_2 {
	background-color:#f5f5f5;
}

div.tx_mhdirectory > div.letter_entries > div.entry.type_1,  
div.tx_mhdirectory > div.entry.type_1 {
	border:0px;
	border-bottom: 1px solid #ddd;
}

	div.tx_mhdirectory > div.entry h2 {
		margin: 0px;
		padding: 5px 0px;
	}

		div.tx_mhdirectory span.opening_hours_status.closed { 
			background-color: red;
			color: white;
		}

		div.tx_mhdirectory span.opening_hours_status.open { 
			background-color: green;
			color: white;
		}

	div.tx_mhdirectory > div.letter_entries > div.entry > div.inner_image, 
	div.tx_mhdirectory > div.entry > div.inner_image,
	div.tx_mhdirectory > div.detail_entry > div.inner_image {
		float: left;
		width: 15%;
		padding: 10px;
	}
	
	div.tx_mhdirectory > div.letter_entries > div.entry > div.inner,
	div.tx_mhdirectory > div.entry > div.inner,
	div.tx_mhdirectory > div.detail_entry > div.inner {
		width: 45%;
		float: left;
		padding: 5px;
	}

	div.tx_mhdirectory > div.letter_entries > div.entry > div.inner_map, 
	div.tx_mhdirectory > div.entry > div.inner_map, 
	div.tx_mhdirectory > div.detail_entry > div.inner_map,
	div.tx_mhdirectory div.inner_opening {
		float: right;
		width: 40%;
		border-left: 2px solid #ddd;
		border-right: 2px solid #ddd;
		border-bottom: 2px solid #ddd;
		border-radius: 3px;
	}

	div.tx_mhdirectory div.inner_opening { background-color: #f5f5f5; padding: 10px; }

		div.inner_map > div.mh_directory_gmap {
			min-height: 200px;
		}

		div.tx_mhdirectory ul.buttons {
			margin:0px; 
			padding:0px;
			list-style-type: none;
			padding: 10px;
		}
			div.tx_mhdirectory ul.buttons > li {
				padding: 5px;
				margin: 3px 5px;
				background-color: #f5f5f5;
				border:1px solid #ddd;
				border-radius: 3px;
				font-size: 12px;
				cursor: pointer;
				width: 80px;
				text-align: center;
				display: inline;
			}

			div.tx_mhdirectory ul.buttons > li:hover {
				background-color:#ddd;
			}

	div.tx_mhdirectory dl.opening_hours { 
		position: relative;
		font-size:12px;
	}

	div.tx_mhdirectory dl.opening_hours:before {
	    position:absolute;
	    font-family: "FontAwesome";
	    top:0px;
	    right: 10px;
	    font-size: 100px;
	    opacity: 0.3;
	    content: "\f017";
	}

	div.tx_mhdirectory dl.opening_hours > dt, 
	div.tx_mhdirectory dl.contact_form > dt {
		clear: left;
		float:left;
		width: 130px;
		padding: 5px;
	}

	div.tx_mhdirectory dl.opening_hours > dt { width: 80px; }

	div.tx_mhdirectory dl.opening_hours > dd, 
	div.tx_mhdirectory dl.contact_form > dd {
		padding: 5px;
	}

	div.tx_mhdirectory dl.opening_hours > dd > span {
		margin: 0px 5px;
	}

/* Alphabetical Menu */

div.tx_mhdirectory ul.alphabetical_menu {
	list-style-type: none;
	margin: 5px 0px;
	padding: 0px;
}
	div.tx_mhdirectory ul.alphabetical_menu > li {
		text-transform: uppercase;
		display: inline-block;
		padding: 5px 10px;
		cursor: pointer;
		border:1px solid #ddd;
		margin: 0px;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
		background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	}

	div.tx_mhdirectory ul.alphabetical_menu > li.active, 
	div.tx_mhdirectory ul.alphabetical_menu > li:hover {
		font-weight: bold;
		color: white;
		background: #606c88;
		background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b));
		background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%);
		background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%);
		background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%);
		background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
	}

	div.tx_mhdirectory ul.alphabetical_menu > li.empty {
		color: #ddd;
		cursor: not-allowed;
	}

	div.tx_mhdirectory div.letter_entries { display: none; }
	div.tx_mhdirectory div.letter_choose {  }