<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Default"/>
    <title>Templates: Index</title>
    <f:section name="main">
        <h1><f:translate key="backend_headline_dashboard" /></h1>
            <div class="widget_1">
                <h2><f:translate key="widget_1" /></h2>
            </div>
            <div class="widget_2">
                <h2>
                    <f:translate key="widget_2"/>
                </h2>
            </div>
            <div class="widget_3">
                <h2>
                    <f:translate key="widget_3"/>
                </h2>
            </div>
            <div class="widget_4">
                <h2>
                    <f:translate key="widget_4"/>
                </h2>
            </div>
            <div class="widget_5">
                <h2>
                    <f:translate key="widget_5"/>
                </h2>
            </div>
    </f:section>
</div>